@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    
    padding: 0;

    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;

}

/*Navbar*/  

nav{
    display: flex;
    
    justify-content: space-between;
 
    margin-top: 20px;
 
    align-items: center;
 
    color: #202020;
 }
 .logo{
     font-weight: 800;
 
     font-size: 25px;
     padding-left: 50px;
 
    
 }
 .nav-itens{
     list-style: none;
 
     display: flex;
 }
 
 .nav-itens>li>a{
     /* padding-right: 50px; */
     margin-right: 50px;
 
     color: #202020;
 
     text-decoration: none ;
     
     position: relative;
 }
 
 .nav-itens>li>a::after{
     content: " ";
 
     width: 0%;
 
     height:4px;
 
     background-color: #000000;
 
     position: absolute;
 
     bottom: -5px;
 
     left: 0;
 
     transition: 0.4s ease-in-out;
 
     
 }
 .nav-itens>li>a:hover::after{
     width: 100%;
     
 }
 .buttom p {
   
   color: #000000;

   font-size: 23px;

   margin-right: 38px;

 }
 
 .login{
     padding: 10px 40px;
 
     font-size: 15px;
 
     border: none;
 
     border-radius: 5px;
 
     color: #202020;
 
     background-color: #dcdcdc;
 
     cursor: pointer;
 
     transition: 1s background;
 }
 
 .login:hover{
     background-color: #a1a1a1;
 
     transition: 1s background;
 }
 
 .cadastro{
     padding: 10px 40px ;
 
     font-size: 15px;
 
     border: none;
 
     border-radius: 5px;
 
     color: #fff;
 
     background-color: #202020;
 
     cursor: pointer;
 
     transition: 1s background;
     
     
     
 }
 
 .cadastro:hover{
     background-color: #3d3d3d;
 
     transition: 1s background;
 
 }

 /* conteudo */

 .nivel{
    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    gap: 35px;

    height: 100%;

    background-color: rgba(255, 255, 255, 0.468);

 }

 .conteudo{

    height: 87vh;

    background-image: url(../assets/ken-darmadi-ares-bonsai-temple-mid-20191007.jpg);

    background-repeat: no-repeat;

    background-size: cover;

    text-align: center;

    margin-top: 20px;

 }


 .titulo{
    display: flex;

    flex-direction: column;

    align-items: center;
 }

 h2{
    color: #252525;

    font-size: 50px;

    /* text-decoration: none; */
 }
 #sub{
    color: #252525;
    font-weight: 700;
 }

 p{
    font-size: 30px;
    color: #fff;
    font-weight: 300;
 }



 .box{
    background-color: #464543;

    border-radius: 10px;

    height: 170px;

    width: 400px;

    display: flex;

    align-items: center;

    flex-direction: column;

    gap: 20px;
 }

 #mais_votado{
    color: #fff;
 }

 #qtd_votos{
    color: #fff;
 }

 select{
    border-radius: 30px;

    width: 300px;

    height: 40px;

    font-size: 20px;

    border: none;

    outline: none;

/*     align-items: center;

    display: flex;

    justify-content: center; */

    text-align: center;
 }

 .select button{
    transition: 0.5s;

    border-radius: 30px;

    border: none;

    width: 100px;

    height: 40px;

    font-size: 20px;

    background-color: white;
 }
 
 .select button:hover{
    background-color: #c9c8c8 ;    
 }